/* ========================== Component Name ========================== */
$component: hero-38;
$is: [is=fir-$component];
/* ========================== Order: ========================== */

/*
 * Base
 * Modifiers
 * Breakpoints
 * Component Options
 * Themes
 */

/* ========================== Component Base: ========================== */
$(is){
  background: var(--blue-light);
  margin: 0;
  padding: 100px 0 25px;
}

.$(component) {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 880px;
  margin: 0 auto;

  &__content {
    width: 100%;
    margin-bottom: 25px;

    h2 {
      margin-bottom: 15px;
    }

    ul {
      margin-top: 15px;
    }
  }

  &__img-wrapper {
    position: relative;
    width: 100%;

    img {
      width: 95%;
      height: auto;
      object-fit: cover;
    }

    svg {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: auto;
    }
  }

  &__cta {
    margin-top: 25px;
  }
  /* ========================== Modifiers ========================== */

  /* ========================== Component: Options ========================== */

  /* ========================== Themes ========================== */
  &--center {
    justify-content: center;

    .$(component)__content {
      max-width: 789px;
      text-align: center;
    }
  }

  &--right {
    justify-content: flex-end;

    .$(component)__content {
    text-align: right;
    }
  }

  &__wave--white {
    path {
      fill: white;
    }
  }

  &__wave--blue {
    path {
      fill: var(--blue);
    }
  }

  &__wave--teal {
    path {
      fill: var(--teal);
    }
  }

  &__wave--gray {
    path {
      fill: var(--gray);
    }
  }

  &.fir--light {
    .$(component)__title {
      color: var(--teal);
    }
  }

  &.fir--dark {
    .$(component)__title {
      color: var(--blue);
    }
  }
}

/* ========================== Breakpoints ========================== */

/* ================ Query: Small */
$(is).SM {
  padding: 100px 0 75px;
  .$(component){
  }
}

/* ================ Query: Medium */
$(is).MD {

  .$(component){
    &__content {
      width: 45%;
      margin-bottom: 0;
    }

    &__img-wrapper {
      width: 48%;
    }
  }
}

/* ================ Query: Large */
$(is).LG {
  padding: 125px 0 150px;

  .$(component){
  }
}

/* ================ Query: Xtra Large */
$(is).XL {
  padding: 225px 0 150px;

  .$(component){
  }
}

/* ================ Query: Xtra Xtra Large */
$(is).XXL .$(component){
}
